/***********************************PROPRIETES GENERALES**************************************/

a{ /*propriétés des liens*/
    text-decoration: none; /*décoration du texte des liens*/
    color: black; /*couleur des liens*/
}

p{
    padding: 0 20px 0 20px;
}

strong {
    font-weight:500;
}

h2, h4 {
    font-weight: 800;
}

body{  /*Propriétés du corps de page*/
    background-color: #f5e6e6; /*couleur de fond du corps de page*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
    font-weight: 300; /*Epaisseur de police*/
    font-style: normal;
    font-size: 20px; /*taille de la police*/
}

/**********************************HEADER**************************************/

header {
    background-color: #f1aaaf; /*couleur de fond de l'en-tête*/
    padding: 5px; /*espace autour de l'en-tête*/
    margin: 0 0 20px 0; /*espace en dessous de l'en-tête*/
    box-shadow: 5px 10px 5px grey; /*ombre portée de l'en-tête*/
    display: flex; /*Utilisation de Flexbox*/
    flex-direction: column; /* Empilement vertical */
    align-items: center; /* Centre tout horizontalement */
}

.NomPrénom {
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
    font-weight: 800; /*Epaisseur de police*/
    font-style: normal; /*Style de police*/
}

.English {
    align-self: flex-end; /* Aligne uniquement le bouton à droite */
    margin-right: 20px; /* Espace depuis le bord droit */
    font-size: 20px; /*taille de la police*/
    border: black 2px solid; /*bordure du bouton*/
    background-color: white; /*couleur de fond du bouton*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
}

/***********************************BODY**************************************/

.divPresentation {
    margin: 0 20px 0 20px;
    padding: 0 0 0 20px ;
    border: 3px solid darkgrey;
    box-shadow: 5px 5px 5px grey;
}

.presentation{
    text-align: left; /*alignement du texte*/
    padding: 0 0 0 20px;
}

/*Grande grille*/

.grandeGrille{
    padding: 0 20px 15px 20px;
}

/*PROJET 1 : PIPOUNES CREATION VERSION */

.divPipCreation{ /*Projet 1*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    padding: 10px 0 10px 0 ; /*marge autour de la grille*/
    border: 2px solid #f05454; /*bordure de la grille*/
    box-shadow: 10px 10px 5px rgb(192, 83, 83); /*ombre portée de la grille*/
}

.grid-item{
    padding: 0 10px 0 20px; /*espace entre l'image/le texte et le bord*/
    width: flex; /*largeur des éléments dans chaque cellule*/
    height: flex; /*hauteur des éléments dans chaque cellule*/
    align-self: center;
}

.Captures { /*capture d'écran de Pipounes Création*/
    max-width: 100%; /*largeur max*/
    height: auto; /*hauteur max*/
    align-self: center; /*alignement de la capture d'écran*/
}

/*PROJET 2 : TO DO LIST */

.divToDoList{ /*Projet 2*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    margin: 30px 0 10px 0 ; /*marge autour de la grille*/
    border: 2px solid #f05454; /*bordure de la grille*/
    box-shadow: 10px 10px 5px rgb(192, 83, 83); /*ombre portée de la grille*/
}

/*PROJET 3 : TIC TAC TOE ...*/

.divTicTacToe{ /*Projet 3*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    margin: 30px 0 10px 0 ; /*marge autour de la grille*/
    border: 2px solid #f05454; /*bordure de la grille*/
    box-shadow: 10px 10px 5px rgb(192, 83, 83); /*ombre portée de la grille*/
}

/*PROJET 4 : AMELIORATION SITE CAF - En construction*/

.divSiteCAF{ /*Projet 4*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    margin: 30px 0 10px 0 ; /*marge autour de la grille*/
    border: 2px solid #f05454; /*bordure de la grille*/
    box-shadow: 10px 10px 5px rgb(192, 83, 83); /*ombre portée de la grille*/
}

/***************COMPETENCES ET OUTILS UTILISES******************/

.divCompetencesOutils{
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #fff3f3; /*couleur de fond de la grille*/
    margin: 10px 0 10px 0 ; /*marge autour de la grille*/
    padding: 0 0 0 30px;
    border: 2px solid darkgrey;
    box-shadow: 5px 5px 5px grey;
}

/***********************************FOOTER**************************************/

footer{ /*Propriétés du bas de page*/
    background-color: #f1aaaf; /*couleur de fond*/
    position: bottom; /*position fixe*/
    width: 100%; /*largeur du bas de page*/
    text-align: center; /*alignement du texte*/
    font-size: 20px ; /*taille de la police*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
    font-weight: 300; /*Epaisseur de police*/
    font-style: normal; /**/
}
