/***********************************PROPRIETES GENERALES**************************************/

a{ /*propriétés des liens*/
    text-decoration: none; /*décoration du texte des liens*/
    color: black; /*couleur des liens*/
    
}

strong {
    font-weight:500;
}

h2, h4 {
    font-weight: 800;
}

/**********************************HEADER**************************************/

header{ /*Propriétés du haut de page*/
    background-color: #f1aaaf; /*couleur de fond du haut de page*/
    padding: 5px; /*espace entre le texte et la bordure*/
    text-align:center; /*alignement du texte*/
    margin: 0 0 10px 0; /*espace autour de la bordure*/
}

.NomPrénom {
    font-size: 40px; /*taille de la police*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
    font-weight: 800; /*Epaisseur de police*/
    font-style: normal;
    
}

/***********************************BODY**************************************/

body{  /*Propriétés du corps de page*/
    background-color: #fff3f3; /*couleur de fond du corps de page*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
    font-weight: 300; /*Epaisseur de police*/
    font-style: normal;
    font-size: 20px; /*taille de la police*/
}


p{
    padding: 0 20px 0 20px;
}

.divPresentation {
    padding: 0 0 0 20px ;
}

.presentation{
    text-align: left; /*alignement du texte*/
    padding: 0 0 0 20px;
}

/*Grande grille*/

.grandeGrille{
    padding: 0 20px 0 20px;
}

/*PROJET 1 : PIPOUNES CREATION*/

.gridContainer1{ /*Projet 1*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    padding: 10px 0 10px 0 ; /*marge autour de la grille*/
}

.grid-item{
    padding: 0 10px 0 20px; /*espace entre l'image/le texte et le bord*/
    width: flex; /*largeur des éléments dans chaque cellule*/
    height: flex; /*hauteur des éléments dans chaque cellule*/
    align-self: center;
}

.Pipounes_Creation_V1 { /*capture d'écran de Pipounes Création*/
    max-width: 100%; /*largeur max*/
    height: auto; /*hauteur max*/
    align-self: center; /*alignement de la capture d'écran*/
}

/*PROJET 2 : TIMER ANTI DISTRACTIONS*/

.grid-container2{ /*Projet 2*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    margin: 30px 0 10px 0 ; /*marge autour de la grille*/
}

.EnConstruction{ /*Texte En Construction...*/
    text-align: center; /*alignement du texte*/
    border: 1px solid white; /*bordure du texte*/
}

/*PROJET 3 : A VENIR ...*/

.grid-container3{
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    margin: 30px 0 10px 0 ; /*marge autour de la grille*/
    border: 1px solid white;
}

.AVenir{ /*Texte A Venir...*/
    text-align: center; /*alignement du texte*/
    border: 1px solid white; /*bordure du texte*/
}

.Reflexion{ /*Texte {Elise_Degardin} est en train de réfléchir uà un futur projet...*/
    text-align: center; /*alignement du texte*/
    border: 1px solid white; /*Bordure du texte*/
}

/*PROJET 4 : A VENIR ...*/

.grid-container4{
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #fff3f3; /*couleur de fond de la grille*/
    margin: 10px 0 10px 0 ; /*marge autour de la grille*/
    padding: 0 0 0 30px;
}

/***********************************FOOTER**************************************/

footer{ /*Propriétés du bas de page*/
    background-color: #f1aaaf; /*couleur de fond*/
    position: bottom; /*position fixe*/
    
    width: 100%; /*largeur du bas de page*/
    text-align: center; /*alignement du texte*/
    font-size: 20px ; /*taille de la police*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
    font-weight: 300; /*Epaisseur de police*/
    font-style: normal; /**/
}