/*GENERAL*/

body { /*Propriétés du corps de page*/
    font-family: 'Oswald', sans-serif; /*police et style d'écriture*/
    background-color: rgb(213, 220, 226); /*couleur de fond de la page*/
    
}

h1, h2, h3, h4, h5, h6 { /*Propriétés des titres*/
    padding: 0 10px 0 10px; /*espace autour des titres*/
}

p{ 
    padding: 0 20px 0 20px; /*espace autour des paragraphes*/
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

/*HEADER*/

header { /*Propriétés de l'en-tête*/
    font-family: 'Oswald', sans-serif; /*police et style d'écriture*/
    background-color: #141455; /*couleur de fond*/
    padding: 15px 10px 15px 10px; /*espace autour de l'en-tête*/
    position: sticky; /*position fixe*/
    top: 0; /*position en haut de la page*/
    vertical-align: middle;
    border: white 2px solid;
    border-radius: 5px;
}

.Accueil { /*Bouton Accueil*/
    color: white; /*couleur du texte*/
    font-family: 'Oswald', sans-serif;
    text-decoration: none; /*décoration du texte*/
    font-size: 25px; /*taille de la police*/
    padding: 0 10px 0 10px; /*espace autour du texte*/
    
}

.Malvoyant { /*Bouton Malvoyant*/
    background-color: #141455 ; /*couleur de fond*/
    border: none; /*bordure*/
    padding: 0 10px 0 10px; /*espace autour du texte*/
}

.Connexion { /*Bouton Connexion*/
    background-color: #141455 ; /*couleur de fond*/
    border: none; /*bordure*/
    padding: 0 10px 15px 10px; /*espace autour du texte*/
    float: right; /*position à droite*/
    margin-left: 10px; /
}

.Recherche { /*Bouton Recherche*/
    background-color: #141455 ; /*couleur de fond*/
    border: none; /*bordure*/
    padding: 0 10px 0 10px; /*espace autour du texte*/
    float: inline-end; /*position à droite*/
    margin-left: auto; /*espace automatique à gauche*/
}

/*BODY*/

/* DESCRIPTION */

.TitreDescription {
    background-color: #141455;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.DescriptionSite {
    padding: 5px 15px; /*espace autour de la description*/
    background-color: #e3e3f1; /*couleur de fond de la description*/
    margin: 30px 20px 20px 20px; /*marge autour de la description*/
    border: none; /*bordure de la description*/               /*2px solid #5e5e5e*/
    box-shadow: 10px 10px 20px grey; /*ombre portée de la description*/
    border-radius: 15px; /*bords arrondis*/
}

.TexteDescription {
    background-color: white;
    border: none;
    border-radius: 5px;
}

/* INFORMATIONS */

.Informations { /*Propriétés des informations*/
    padding: 5px 15px; /*espace autour des informations*/
    background-color: #e3e3f1; /*couleur de fond des informations*/
    margin: 30px 20px 20px 20px; /*marge autour des informations*/
    border: none; /*bordure des informations*/
    box-shadow: 10px 10px 20px grey; /*ombre portée des informations*/
    border-radius: 15px; /*bords arrondis*/
    display: flex;
}

.Informations h1 {
    text-align: center;
    background-color: #141455;
    color: white;
    border-radius: 20px;
}

.imageInformation {
    padding-left: 90px;
    padding-bottom: 15px;
}

.Information {
    font-family: 'Oswald', regular;
    font-size: 15px;
    margin: 10px 0 10px 15px;
    width: 500px;
    border: none;
    border-radius: 5px;
    background-color: white;
    
}

/* SERVICES */

.divServices {
    margin: 30px 20px 0 20px;
    padding: 5px 20px 10px 20px;
    border: none;
    background-color: #e3e3f1;
    box-shadow: 10px 10px 20px grey; /*ombre portée des informations*/
    border-radius: 15px; /*bords arrondis*/
}

.ViePersonnelle, .VieProfessionnelle, .Logement, .Handicap, .Accident {
    text-align: center;
}

.ImageViePersonnelle, .ImageVieProfessionnelle, .ImageLogement, .ImageHandicap, .ImageAccident {
    padding-top: 15px;
}

.TitresServices {
    background-color: #141455;
    color: white;
    padding-bottom: 5px;
}

.ImageViePersonnelle {
    background-color: lightpink;
}

.ImageVieProfessionnelle {
    background-color: lightskyblue;
}

.ImageLogement {
    background-color: #EFE3D3;
}

.ImageHandicap {
    background-color: rgb(233, 231, 138);
}

.ImageAccident {
    background-color: #6fdfc3;
}

/* ACTIONS */

.divActions {
    margin: 30px 20px 0 20px;
    padding: 5px 20px 10px 20px;
    border: none;
    background-color: #e3e3f1;
    box-shadow: 10px 10px 20px grey; /*ombre portée des informations*/
    border-radius: 15px; /*bords arrondis*/
}

.Actions {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.ButtonsActions {
    padding-top: 15px;
    width: 250px;
    background-color:#141455;
    border: none;
    border-radius: 50px;
    color: white;
}

/*MAGASINE*/

.divMagasine {
    margin: 30px 20px 0 20px;
    padding: 5px 20px 10px 20px;
    border: none;
    background-color: #e3e3f1;
    box-shadow: 10px 10px 20px grey; /*ombre portée des informations*/
    border-radius: 15px; /*bords arrondis*/
}

.PresentationMagasine {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.CategorieMagasine {
    background-color: #141455;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    text-align: center;
    display: block;
    margin: 10 auto;
}

.ImageMagasine {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

.LogoArticle {
    display: flex;
    align-items: center;
    background-color: #e3e3f1;
    width: 150px;
    height: 50px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}

.ImageLogoArticle {
    width: 40px;
    height: 40px;
}

.TitreArticle {
    background-color: #141455;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.TexteArticle {
    background-color: #e3e3f1;
    border: none;
    border-radius: 5px;
}

/*QUESTIONS*/

