/***********************************PROPRIETES GENERALES**************************************/

a{ /*propriétés des liens*/
    text-decoration: none; /*décoration du texte des liens*/
    color: black; /*couleur des liens*/
}

p{
    padding: 0 20px 0 20px; /*espace autour des paragraphes*/
}

strong {
    font-weight:500; /*Epaisseur de police*/
}

h2, h4 {
    font-weight: 800; /*Epaisseur de police*/
}

body{  /*Propriétés du corps de page*/
    background-color: #f5e6e6; /*couleur de fond du corps de page*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
    font-weight: 300; /*Epaisseur de police*/
    font-style: normal; /*Style de police*/
    font-size: 20px; /*taille de la police*/
}

/**********************************HEADER**************************************/

header { /*Propriétés de l'en-tête*/
    background-color: #f1aaaf; /*couleur de fond de l'en-tête*/
    margin: 0 0 30px 0; /*espace en dessous de l'en-tête*/
    box-shadow: 5px 10px 15px grey; /*ombre portée de l'en-tête*/
    display: flex; /*Utilisation de Flexbox*/
    flex-direction: column; /* Empilement vertical */
    align-items: center; /* Centre tout horizontalement */
    position: sticky; /*position fixe*/
    top: 0; /*position en haut de la page*/
    border-radius: 10px; /*bords arrondis*/
}

.NomPrénom { /*Nom et prénom dans l'en-tête*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
    font-weight: 800; /*Epaisseur de police*/
    font-style: normal; /*Style de police*/
}

.English { /*Bouton pour passer en anglais*/
    display: block; /* Nécessaire pour que margin fonctionne */
    margin: 0 20px 25px auto; /* Positionne le bouton en haut à droite */
    font-size: 20px; /*taille de la police*/
    border: black 2px solid; /*bordure du bouton*/
    background-color: white; /*couleur de fond du bouton*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
}

.FlagEngland { 
    padding-right: 5px;
}

/***********************************BODY**************************************/

.divPresentation { /*Présentation générale*/
    background-color: #fff3f3; /*couleur de fond de la présentation*/
    margin: 0 20px 0 20px; /*marge autour de la présentation*/
    padding: 0 20px 0 20px ; /*espace autour du texte*/
    border: 3px solid darkgrey; /*bordure de la présentation*/
    box-shadow: 10px 10px 20px grey; /*ombre portée de la présentation*/
    border-radius: 15px; /*bords arrondis*/
}

.presentation{ /*Texte de la présentation générale*/
    text-align: left; /*alignement du texte*/
    padding: 0 0 0 20px; /*espace autour du texte*/
}

/*Grande grille*/

.grandeGrille{
    padding: 0 20px 15px 20px; /*espace autour de la grande grille*/
}

/*PROJET 1 : PIPOUNES CREATION VERSION */

.divPipCreation{ /*Projet 1*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    padding: 10px 0 10px 0 ; /*marge autour de la grille*/
    box-shadow: 10px 10px 10px rgb(192, 83, 83); /*ombre portée de la grille*/
    border-radius: 15px; /*bords arrondis*/
}

.grid-item{ /*cellules de la grille*/
    padding: 0 10px 0 20px; /*espace entre l'image/le texte et le bord*/
    width: flex; /*largeur des éléments dans chaque cellule*/
    height: flex; /*hauteur des éléments dans chaque cellule*/
    align-self: center;
}

.Captures { /*capture d'écran de Pipounes Création*/
    max-width: 100%; /*largeur max*/
    height: auto; /*hauteur max*/
    align-self: center; /*alignement de la capture d'écran*/
    border: black 2px solid; /*bordure de la capture d'écran*/
    border-radius: 20px; /*bords arrondis de la capture d'écran*/
}

/*PROJET 2 : TO DO LIST */

.divToDoList{ /*Projet 2*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    margin: 30px 0 10px 0 ; /*marge autour de la grille*/
    box-shadow: 10px 10px 10px rgb(192, 83, 83); /*ombre portée de la grille*/
    border-radius: 15px; /*bords arrondis*/
}

/*PROJET 4 : AMELIORATION SITE CAF - En construction*/

.divSiteCAF{ /*Projet 4*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #f6b1b1; /*couleur de fond de la grille*/
    margin: 30px 0 10px 0 ; /*marge autour de la grille*/
    box-shadow: 10px 10px 10px rgb(192, 83, 83); /*ombre portée de la grille*/
    border-radius: 15px; /*bords arrondis*/
}

/***************COMPETENCES ET OUTILS UTILISES******************/

.CompEtOutils{ /*Titre au dessus des compétences et outils utilisés*/
    margin: 0 0 20px 20px ; /*marge autour du titre*/
}

.divCompetencesOutils{ /*Compétences et outils utilisés*/
    display: grid; /*disposition en grille*/
    grid-template-columns: 50% 50%; /*taille des colonnes*/
    grid-template-rows: flex flex; /*la grille s'adapte à la taille du plus grand des items*/
    background-color: #fff3f3; /*couleur de fond de la grille*/
    margin: 10px 20px 30px 20px ; /*marge autour de la grille*/
    padding: 0 0 0 30px;
    border: 2px solid darkgrey;
    box-shadow: 10px 10px 20px grey;
    border-radius: 15px;
}

/***********************************FOOTER**************************************/

footer{ /*Propriétés du bas de page*/
    background-color: #f1aaaf; /*couleur de fond*/
    position: bottom; /*position fixe*/
    width: 100%; /*largeur du bas de page*/
    text-align: center; /*alignement du texte*/
    font-size: 20px ; /*taille de la police*/
    font-family: "Oswald", sans-serif; /*police et style d'écriture*/
    font-weight: 300; /*Epaisseur de police*/
    font-style: normal; /*Style de police*/
    border-radius: 10px; /*bords arrondis*/
    box-shadow: 5px 10px 10px grey; /*ombre portée du bas de page*/
}
