/*Corps du texte*/
body {
  background: linear-gradient(30deg, #a492cc 0, #ae90c7 5.56%, #b68dc2 11.11%, #be8bbc 16.67%, #c489b5 22.22%, #ca87ae 27.78%, #ce86a7 33.33%, #d1859f 38.89%, #d48598 44.44%, #d58590 50%, #d58689 55.56%, #d48782 61.11%, #d3887b 66.67%, #d08a75 72.22%, #cc8c6f 77.78%, #c88f6a 83.33%, #c39167 88.89%, #bd9464 94.44%, #b79761 100%);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 0px 15px 0px 15px;
}

input {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  text-align: center;
  border-radius: 7px;
}

textarea {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  text-align: justify;
}

textarea{
  border-radius: 7px;
}

hr{
  height: 2px;
  background-color: #c02e50;
  border: none;
}

h2 {
  font: bold 15px;
  border: solid 2px white;
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  background-color: white;
}

fieldset{
  border: solid 1px black;
}

/*Logo de la marque*/
    .Logo {
        width: 90px;
        float: left;
        margin-left: 15px;
        margin-bottom: 15px;
    }

/*Titre "Pipounes Création" */
.Titre {
  text-align: center;
  border: solid 1px;
  border-color: black;
  border-width: 2px;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  margin-left: 130px;
  margin-right: 15px;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

/*Barre de recherche*/
style.body {
  background-color: #8ebf42;
}

style.form {
  width: 400px;
  margin: auto;
  margin-top: 20px;
}

style.input {
  padding: 4px 10px;
  border: 0;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 15px;
}

style.search {
  width: 75%;
}

.search {
  /* Marge gauche de l'input */
  margin: 0 0 5px 15px;
  /* Largeur de l'input */
  width: 200px;
  /* Hauteur de l'input */
  height: 25px;
  /* Bordure de l'input */
  border: 1px white;
  /* Arrondi de la bordure */
  border-radius: 30px;
}

.ButtonRechercher {
  width: 120px;
  background-color: #e45373;
  border: solid 1px white;
  border-radius: 30px;
  
  color: #fefcfc;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 15px;
}

.ButtonRechercher:hover {
  background-color: #44528f;
}

/*Champ Connexion et Inscription*/   
.TuAsDejaUnCompte {
  background-color: white;
  border: solid 1px white;
  border-radius: 30px;
  padding: 5px 20px 5px 25px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px; 
  margin-top: -30px;  
}

.ConnexionInscription {
  /* Marge à gauche du fieldset C/I */
  margin-left: 1090px;
  /* Marge en haut du fieldset */
  margin-top: -100px;
  /* Largeur du fieldset */
  width: 305px;
}

.connexion {
  float: right;
}

.labelMailConnexion {
  margin-left: 15px;
}

.inputMailConnexion {
  /* Marges de l'input */
  margin: 10px 0px 0px 22px;
  /* Hauteur de l'input */
  height: 25px;
  /* Arrondi de l'input */
  border-radius: 30px;

}

.labelPasswordConnexion {
  margin-left: 15px;
}

.inputPasswordConnexion{
  /* Hauteur de l'input */
  height: 25px;
  /* Alignement vertical de l'input */
  vertical-align: middle;
  /* Arrondi des bords */
  border-radius: 30px;
}

.button {
  float: right;
  margin-right: 9px;
  text-decoration: none;
  color: white;
  width: 100px;
  background-color: #e45373;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 15px;
  text-align: center;
  border: solid 1px white;
  border-radius: 30px;
}

.button:hover{
  background-color: #44528f;
}

/*Barre de navigation dans le site*/
#menu
.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: sticky;
}
.navbar li {
    /* Hauteur de la navbar */
    height: auto;
    /* Largeur de la navbar*/
    width: 170px;
    /* Position de la liste de navbar */
    float: left;
    /* Alignement du texte */
    text-align: center;
    list-style: none;
    /* Gestion de la police */
    font: 16px 'Times New Roman', Times, serif ;
    padding: 0;
    margin: 0;
    background-color: #c02e50;

}
.navbar a {
    padding: 18px 0;
    border-left: 2px solid #d58590;
    text-decoration: none;
    color: #faf8f8;
    display: block;
    
}
.navbar li:hover,
a:hover {
background-color: #44528f;
}
.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}
.navbar li:hover ul {
    display: block;
}
.navbar li ul li {
    background-color: #e777a0;
}
.navbar li ul li a {
    border-left: 1px solid #fbf9fa;
    border-right: 1px solid #fefdfd;
    border-top: 1px solid #fdfcfc;
    border-bottom: 1px solid #fffdfd;
}
.navbar li ul li a:hover {
    background-color: #44528f;
}

.sous{
    display: none;
    
background-color: transparent;
    position: absolute;
    width: auto;
    z-index: 1000;
}

/*Présentation des créateurs*/
.Présentation {
    text-align: center;
    background-color: white;
    
}

/*Champ Informations légales*/
fieldset.InformationsLegales {
  align-content: end;
  /* Couleur arrière plan du FS */
  background-color: white;

  
}

  /*Lien vers Mentions légales*/
      .Mentions {
          color: black;
          text-decoration: none;
          /* Gestion de la police */
          font: 16px 'Times New Roman', Times, serif;
          /* Position du texte */
          float: left;
      }

  /*Lien vers Conditions Générales de Vente*/
      .CGV {
          color:black;
          text-decoration: none;
          /* Gestion de la police */
          font: 16px 'Times New Roman', Times, serif;
          /* Position du texte */
          float: left;
      }

  /*Lien vers Politique en matière de confidentialité et de cookies*/
      .Confidentialité {
          color: black;
          text-decoration: none;
          /* Gestion de la police */
          font: 16px 'Times New Roman', Times, serif;
          /* Position du texte */
          float: left;
      }